:root {
    --background: #f8f6f6;
    --text: #111111;
    --accent: #056d9d;
    --text-secondary: #8E8E8E;
    --section-fill: #F7F7F7;
    --border: #DADADA
}


body {
    background-color: var(--background);
}

.header {
    display: flex;
    align-items: center;           
    justify-content: space-between; 
    padding: 10px 20px;            
    background-color: var(--background);
    flex: auto;
    max-width: 1500px;
    min-width: 1500px;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo-title{
    position: relative;
}

.title {
    position: absolute;
    display: flex;
    top: 50%;
    left: 350px;
    transform: translate(-50%, -50%);
    margin: 0;
    color: var(--accent);
    text-wrap: nowrap;
    width: auto;
    height: auto;
}

#search-group {
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    border-color: var(--text);
    border-width: 3px;
}

.header-solo-links a, .dropbtn {
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
}

.header-solo-links a:hover, .dropbtn:hover {
    color: var(--text);
    text-decoration: underline;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.welcome-section h2 {
    color: rgb(100, 111, 237);
}

.welcome-section a {
    color: #1a0dab;
    text-decoration: none;
}

.welcome-section a:hover {
    color: var(--text);
    text-decoration: underline;
}

.footer-links a {
    color: var(--accent);
    text-decoration: none;
}

.footer-links a:hover {
    color: var(--text);
    text-decoration: underline;
}